Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 2